@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;600');
:root {
  --color-text: #000000;
  --color-background: #ffffff;
  --color-button-text: #eefaff;
  --color-primary: #8fb3ff;
  --color-secondary: #ebf1ff;
  --color-accent: #d41d6d;

  --font-family-headers: 'Oswald', sans-serif;
}

html {
  font-family: 'Verdana', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);

  font-size: clamp(12px, 1.5vw, 16px);
  h1, h2, h3 {
    font-family: var(--font-family-headers);
  }

  #react-root {
    height: 100lvh;
    margin-inline: auto;
  }

  .content {
    width: min(100% - 2rem, 100ch);
    margin: 0 auto;
  }
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  all:unset;
}
